<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<center>
		<form>
			<input type="date" name="fecha1">&nbsp;&nbsp;&nbsp;&nbsp;<input type="date" name="fecha2">
			<br><br>
			<input type="submit">
			<br><br>
			<div>
				<table border="1">
					<tr><th>Usuario</th><th>Libro</th><th>Fecha</th>
					<tr>
						<td th:text="${v.cliente.usuario}"></td>
						<td th:text="${v.libro.titulo}"></td>
						<td th:text="${#temporals.format(v.fecha, 'dd/MM/yyyy')}"></td>
					</tr>
				</table>
			</div>
		</form>
	</center>
</body>
</html>