<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<center>
		<form action="verMatriculas" method="get">
			<select name="codCurso">
				<option th:each="c:${cursos}" th:selected="${codCurso==c.codCurso}" th:text="${c.nombreCurso}" th:value="${c.codCurso}"></option>
			</select>
			<button type="submit">Ver Matriculas</button>
		</form>
		<br><br>
		<table border="1">
			<tr>
				<th>Nombre</th>
				<th>Curso</th>
				<th>Horario</th>
				<th>Email</th>
			</tr>
			<tr th:each="a:${matriculas}">
				<td th:text="${a.alumno.nombre}"></td>
				<td th:text="${a.curso.nombreCurso}"></td>
				<td th:text="${a.curso.horario}"></td>
				<td th:text="${a.alumno.email}"></td>
		</table>
	</center>
</body>
</html>