<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2 th:text="${session.usuario}"></h2>
	<center>
		<form action="libros" method="get">
			Seleccione Tema:
			<select name="temaSel">
				<option value="0" th:selected="${idTemaSel==0}" >-Todos-</option>
				<option th:each="c:${temas}" th:selected="${idTemaSel==c.idTema}" th:text="${c.tema}" th:value="${c.idTema}"></option>
			</select><br><br>
			<input type="submit" value="Ver libros">
		</form>
		<br><br>
		<table border="1">
			<tr><th>Título</th><th>Autor</th><th>Precio</th></tr>
			<tr th:each="a:${libros}">
				<td th:text="${a.titulo}"></td>
				<td th:text="${a.autor}"></td>
				<td th:text="${a.precio}"></td>
				
			</tr>
		</table>
		<br>
		<a href="goLogin">Volver</a>
	
	</center>
</body>
</html>