<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<center>
		<form action="alumnos" method="get">
			Seleccione curso:
			<select name="curso">
				<option th:each="c:${cursos}" th:text="${c}" th:value="${c}"></option>
			</select><br><br>
			<input type="submit" value="Ver alumnos">
		</form>
		<br><br>
		<table border="1">
			<tr><th>Nombre</th><th>Email</th><th>Nota</th></tr>
			<tr th:each="a:${alumnos}">
				<td th:text="${a.nombre}"></td>
				<td th:text="${a.email}"></td>
				<td th:text="${a.nota}"></td>
				<td><a th:href="@{eliminar(idAlumno=${a.idAlumno})}">Eliminar</a></td>
			</tr>
		</table>
		<br>
		<a href="goMenu">Volver</a>
	
	</center>
</body>
</html>