<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<center>
	   <form action="alta" method="post">
	   		Nombre:<input type="text" name="nombre"><br><br>
	   		Curso:<select name="curso">
				<option th:each="c:${cursos}" th:text="${c}" th:value="${c}"></option>
			</select><br><br>
	   		Email:<input type="text" name="email"><br><br>
	   		Nota:<input type="text" name="nota"><br><br>
	   		<input type="submit" value="Guardar">
	   </form>
</center>
</body>
</html>